.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 230px 520px;
    /* width: 100%; */
    margin: 22px;
}

.weather{
  background-color: #F4F8FB;
}

.notification{
  background-color: #F4F8FB;
}

.notes {
  background-color: white;
  margin: 20px 20px;
  padding: 10px 10px;
  a {
    color: black;
  }
}


.upper-content {
  display:flex;
  .left-content {
    flex-grow: 1;
  }
}
.logged-in-user{
  text-align: center;
  padding: 25px 25px;
.avatar-image{
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  border: 5px solid #FF5D49;
  }
  p {
  letter-spacing: 0.2em;
  color: #FF5D49;
  font-weight: bolder;
  padding-top: 5px;
  }
}

// Employees in today----------------------------------------------------------
.employee-status {
background-color: #F4F8FB;
padding: 20px;
display: flex;
width:80%;
}
.department-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #FF5D49;
  background-color: white;
  padding: 10px 20px;
  margin: 10px 0;
  font-weight: bolder;
}
.daily-department-shifts{
  margin: 10px 10px;
}
.employee-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 10px;
  width: 100px;
}

.photo {
  margin: 10px 10px;
}

.time-shift{
  font-weight: lighter;
  font-size: 13px;
}

.employee {
  margin: 10px 10px;
}
