.table-wrapper {
  height: 450px;
  overflow-y: auto;
  border: 10px solid #F4F8FB;
  .employee-table {
    th {
      height: 60px;
      color: #FF5D49;
    }
    td, th {
      padding-right: 15px;
      padding-left: 15px;
      background-color: white;
      border: 7px solid #F4F8FB;
    }
    i {
      color: #FF5D49;
    }
  }
  td {
    padding: 5px 15px;
  }
  .table-head {
    position: fixed;
  }
}
.table-body {
  margin-top: 60px;
}
#th-0 {
  width: 87px;
  background-color: #F4F8FB;
}
#th-1 {
  width: 125px;
}
#th-2 {
  width: 170px;
}
#th-3 {
  width: 170px;
}
#th-4 {
  width: 340px;
}
#th-5 {
  width: 64px;
  background-color: #F4F8FB;
}
#td-0 {
  width: 77px;
  background-color: #F4F8FB;
}
#td-1 {
  width: 125px;
}
#td-2 {
  width: 170px;
}
#td-3 {
  width: 170px;
}
#td-4 {
  width: 340px;
}
#td-5 {
  width: 40px;
  background-color: #F4F8FB
}

.department-wrapper {
  background-color: #F4F8FB;
  width: 962px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom: 0;
    color:#FF5D49;
    font-weight: bolder;
    background-color: white;
    padding: 20px;
  }
}
.department {
  background-color: white;
  color: black;
  padding: 5px 20px;
  margin: 0 20px;
}
.plus {
  a {color: white;
    font-size: 25px;
    padding: 0;
  }
  a:hover {
    text-decoration: none;
  }
}

.btn-v3.plus {
  margin-top: 0;
}

.all-departments {
  display: flex;
  overflow-x: auto;
}

h1 {
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 20px;
  margin: 20px 0;
}


