.col-sm-10.col-md-10.pl-0 {
    border-right: 15px solid white;
  }

.top-wrapper {
  position: fixed;
  z-index: 6;
  top: 8px;
  width: 82%;
  left: 225px;
  border-top-right-radius: 17px;
  overflow: hidden;
}

.calendar-header {
  font-weight: bold;
  letter-spacing: 0.2em;
}

.bottom-box {
  background-color: white;
  position: fixed;
  top: calc(100vh - 40px);
  border-bottom-right-radius: 29px;
  width: 82%;
  height: 27px;
  z-index: 2;
}
.department-info {
  flex: 1 0 400px;
  margin: 0 10px;
  .department-title {
    padding: 10px 0;
    background-color: white;
    margin: 10px 0;
    position: sticky;
    top: 0;
    z-index: 2;
    h2 {
      font-size: 16px;
      margin: 0;
    }
  }
}
.planner-wrapper .item {
  height: 568px;
  position: relative;

}
.calendar-overview-container {
  display: flex;
  margin-bottom: 10px;
  position: relative;

  scroll-snap-align: start;
  &::-webkit-scrollbar {
    display: none;
  }
}
.overflow-scroll{
  overflow: scroll;
}

.date-top{
  background: white;
  padding: 0.6em 0.4em;
  font-size: 14px;
  font-weight: bolder;
  color: #FE5D49;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 1px;
}
.time-box {
  flex: 0 0 70px;
  padding-left: 8px;
  padding-top: 10px;
  background-color: #F4F8FB;
  grid-row: 1;
  grid-column: 1;
  position: sticky;
  left: 0;
  z-index: 2;
  p {
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
    height: 70px;
    color: #FF5D49;
  }
}
.shift {
  width: 70px;
  font-size: 13px;
  position: absolute;
  background-color: white;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 1;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(1,1,1,0.2);
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &:hover {
    z-index: 11;
    a {
      text-decoration: none;
    }
    p {
      border: 1px solid white;
      color: white;
    }
  }
}

.grid-line-box {
  border: 0.5px solid rgba(1,1,1,0.05);
  height: calc(100% / 8);
  z-index: 1;
  margin-top: -1px;
}

.shift-link {
  width: 100%;
  height: 100%;
  display: block;
}

h2 {
  font-size: 20px;
  color: #FE5D49;
  font-weight: bolder;
  text-align: center;
}

h1 {
  font-size: 20px;
  margin: 30px 0;
}

