<h1>Departments#edit</h1>
<p>Find me in app/views/departments/edit.html.erb</p>

<%= simple_form_for (@department) do |f| %>
<h2>Edit department</h2>
  <%= f.input :name %>
  <%= f.submit "update department", class: "btn btn-primary" %>
<% end %>
