<h1>Add new department</h1>


<%= simple_form_for (@department) do |f| %>
<h2>Create a new department</h2>
  <%= f.input :name %>
  <%= f.input :color, as: :color %>
  <%= f.submit "add department", class: "btn btn-primary" %>
<% end %>
