

<h1><%= @shift.department.name %> shift</h1>
<% @shift.skills.each do |skill| %>
  <p><%= skill %></p>
<% end %>
<% if @shift.user != nil %>
  <p> <strong> Assigned to: </strong> <%= @shift.user.first_name %> <%= @shift.user.last_name %></p>
<% else %>
  <p>assign someone</p>
<% end %>
