
<!--   <div class="dropdown">
     <%#= cl_image_tag @user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
     <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
       <%#= link_to "Action", "#", class: "dropdown-item" %>
       <%#= link_to "Another action", "#", class: "dropdown-item" %>
       <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
     </div>
  </div>

 -->
