.btn-v1 {
  background-color: #FF5D49;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 22px;
  color: white;
  letter-spacing: 0.2em;
  margin: 10px 5px;
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: white;
  }
}

.btn-v1-trash {
  border: 0.5px solid #FF5D49;
  color: #FF5D49;
  padding-right: 10px;
  padding-left: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin: 10px 5px;
  letter-spacing: 0.2em;
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #FF5D49;
  }
}
// Skill button - white background
.btn-v2 {
  border: 1px solid black;
  padding: 3px 8px;
  margin: 5px 2px;
  border-radius: 16px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 2rem;
}
.btn-v2-s{
  border: 1px solid transparent;
  color: transparent;
  padding: 0px 6px;
  margin: 5px 2px;
  border-radius: 16px;
  font-weight: lighter;
  font-size: 10px;
  line-height: 1rem;
  a {
  text-decoration: none;

  }
}

.btn-v2-se{
  border: 1px solid black;
  color: black;
  padding: 0px 6px;
  margin: 5px 2px;
  border-radius: 16px;
  font-weight: lighter;
  font-size: 12px;
  line-height: 1rem;
  a {
  text-decoration: none;

  }
}



.btn-v3 {
  background-color: #FF5D49;
  border: 0.5px solid #FF5D49;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  letter-spacing: 0.2em;
  margin-top: 20px;
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  &:hover {
    text-decoration: none;
    color: white;
  }
}
//Close Button for Modal
.btn-v4 {
  color: white;
  background-color:#FF5D49;
  border: none;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #FF5D49;
  &:hover {
    border: 1px solid white;
  }
}
