.card-container{
  background:white;
  border-radius: 5px;

}

.upper-container{
  background:#FF5D49;

}

.image-container{
  width:170px;
  height:170px;
  margin:0 auto;
  border-radius:50%;
  display: block;
  border: 5px solid white;
}

.lower-container{
  height:280px;
  background: white;
}

