.employees-department, .employees-skills {
  height: 500px;
  width: 100%;
}
.shift-employees {
    padding-left: 23px;
    margin-bottom: 30px; // new 28.11.
}

.card-product {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  width: 60%;
  margin-top: 10px;
  transition: transform .2s;
  }
.left-box{
  height: 100%;
  width: 80px;
  object-fit: cover;

  img {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.card-product:hover {
  transform: scale(1.1);
}

.unavailable.card-product:hover {
  transform: scale(1);
}

.card-product p {
  font-size: 14px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bolder;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-v2 {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-right: 0;
  }

.not-in {
  box-shadow: none;
  background-color: #e0e4e6;

}

.left-box-v2{
  height: 100%;
  width: 80px;
  object-fit: cover;

  img {
    margin: 5px 5px;
  }
}

.card-product-v2 p {
  font-size: 14px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bolder;
}

.card-product-v2 .card-product-infos-v2 {
  padding: 6px;
}

.unavailable {
  box-shadow: none;
  background-color: #e0e4e6;
}
