
.form-block {
  // height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  padding: 20px;
  padding-top: 40px;
  width: 95%;
  // border-radius: 10px;
  margin: 20px 10px;
  // flex-grow: 2;
  justify-content: space-between;


}

.form-title{
  color: orange;
  text-align: left;


}

.form-block-ds {
  color: white;
  // height: 200px;
  background: #5358e2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  padding: 20px;
  width: 95%;
  width: 300px;
  margin: 0px 30px;

}

.labeltext {
  font-size: 15px;
  font-weight: lighter;
  color: gray;
}

.location {
  align-content: right;

}

.purple {
  padding-right: 40px;
  padding-left: 30px;

}

.inside-block {
  margin: 20px;
}
