.navbar-lewagon {
  height: 97vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  border-radius: 33px 0 0 33px;
  position: sticky;
  top: 0;
  i {
    font-size:28px;
  }
}
.navbar-lewagon .navbar-brand img {
  width: 50px;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
}

  a.nav-link {
      background-color: #FF5D49;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: 40px;
    text-decoration: none;
    color: white;
    // transition: all 200ms ease;
  &:hover {
    border-radius: 50px 0 0 50px;
    background-color: white;
    color: #5358E2;
  }
  }
.nav-link.active {
  border-radius: 50px 0 0 50px;
  background-color: white;
  color: #5358E2;
  .nav-link::before {
    content:  url(rounded-top.jpg);
    color: black;
  }
}

.nav-link {
    background-color: #FF5D49;
    transition-delay: 100ms ease;
}

.orange-box {
     background-color: #FF5D49;
     width: 100%;

}

.space {
  border-radius: 0;
      background-color: #fe5d49;
  transition-delay: 100ms;
}

.space.top-border, .spaceholder.top-border {
    background-color: #fe5d49;
    border-bottom-right-radius: 30px;
      transition: border-radius 200ms ease;

}

.space.bottom-border, .spaceholder.bottom-border {
    background-color: #fe5d49;
    border-top-right-radius: 30px;
      transition: border-radius 200ms ease;

}

.space.top-border.bottom-border, .spaceholder.top-border.bottom-border {
    background-color: #fe5d49;
    border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
          transition: border-radius 200ms ease;

}


.spaceholder {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background: #FF5D49;
      transition-delay: 100ms;


}
.spaceholder.top {
  justify-content: center;
  padding-top: 30px;

}
.spaceholder.end {
  justify-content: center;
  align-items: flex-end;
  a {
    color: white;
  }
  i {
    font-size: 16px;
  }
}
.space {
  width: 100%;
  height: 40px;
}

.logout {
  padding-bottom: 30px;
}


 // content:url('blackCarrot.png')
