.navbar-lewagon {
  height: 97vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  border-radius: 33px 0 0 33px;
  i {
    font-size:28px;
  }
}
.navbar-lewagon .navbar-brand img {
  width: 50px;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
}
.nav-links {
  margin: 0;
  width: 100%;
  margin-left: 20px;
  background-color: #FF5D49;
  a {
    padding-top:30px;
    padding-bottom:30px;
    margin-left: 40px;
    text-decoration: none;
    color: white;
  }
  a:hover {
    border-radius: 50px 0 0 50px;
    background-color: white;
    color: #5358E2;
    // border-radius: 0 33px 33px 0;
    // transition-timing-function: ease-in;
    // transition: 3s;
  }
}

.nav-links.active {
  background-color: black;
  a {
  color: black;
  }
}
.spaceholder {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background: #FF5D49;
}
.spaceholder.top {
  border-radius: 33px 0 0 0;
  justify-content: center;
}
.spaceholder.end {
  border-radius: 0 0 0 33px;
  justify-content: center;
  align-items: flex-end;
  a {
    color: white;
  }
}
