.navbar-lewagon {
  height: 97vh;
  width: 6%;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  background: #FF5D49;
  border-radius: 33px 0 0 33px;
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}
