.container-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1em;
  overflow: auto;
  margin-top: 166px;
}
.time {
    height: 568px;
    font-size: 15px;
    /* margin-top: 25px; */
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
    background: white;
  p {
    margin-bottom: 1.5px;
  }
}
.planner-wrapper {
  flex-grow: 1;
  background-color: #F4F8FB;
  display: flex;
  margin: 0px;
  overflow: auto;
}


.item {
  flex: 1 0 400px;
  height: 568px;
  background-color: #ECB932;
  margin-right:10px;
}

.department-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #FF5D49;
  background-color: white;
  margin-bottom: 0px;
  font-weight: bolder;
}

.department-shifts {
  margin-left: 60px;
  display: flex;
  background-color: #ECB932;
  padding: 0;
  margin: 0;
  height:100%;
  width: 100%;
  position: relative;
}

.shift {
  width: 80px;
  font-size: 13px;
  position: absolute;
  background-color: white;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


