.shift-wrapper {
  border: 1px solid #FF5D49;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-right: 15px;
  margin-top: 40px;
  margin-left: 10px;
  position: fixed;
  z-index: 10000000;
  top: 0;
  background-color: white;
}
.input-field {
  margin: 10px 15px;
}
