.employee-table {
  th {
    height: 80px;
    color: #FF5D49;
  }
  td, th {
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    border: 7px solid #F4F8FB;
  }
  i {
    color: #FF5D49;
  }
}
td {
  padding: 15px;
}

.table-head {
  position: fixed;
}
.table-wrapper {
  height: 450px;
  overflow-y: auto;
  border: 20px solid #F4F8FB;
}
.table-body {
  margin-top: 80px;
}

#th-0 {
width: 77px;
background-color: #F4F8FB;
}
#th-1 {
width: 125px;
}
#th-2 {
width: 150px;
}
#th-3 {
width: 190px;
}
#th-4 {
width: 260px;
}
#th-5 {
width: 74px;
background-color: #F4F8FB;
}
#td-0 {
width: 77px;
background-color: #F4F8FB;
}
#td-1 {
width: 125px;
}
#td-2 {
width: 150px;
}
#td-3 {
width: 190px;
}
#td-4 {
width: 260px;
}
#td-5 {
width: 40px;
background-color: #F4F8FB
}
