@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

$border-radius: 20px;


.widget {
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  width: 300px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  border-radius:$border-radius;
  height: 200px;

  .weatherIcon{
    flex: 1 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: white;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 65px;
    color: #ff5d49;
    i{
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }

  .weatherInfo{
    flex: 0 0 70%;
    background: #ff5d49;
    border-bottom-left-radius: $border-radius;
    display: flex;
    align-items: center;
    color: white;

    .temperature{
      flex: 0 0 27%;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
    }

    .description{
      flex: 0 60%;
      display: flex;
          justify-content: center;
      flex-direction: column;

      .weatherCondition{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: lighter;
      }

      .city{
         font-size: 16px;
         flex-grow: 1;
      }
    }
  }

  .date{
    flex: 0 0 30%;
    background: #5358e2;
    border-bottom-right-radius: $border-radius;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 800;
  }
}

p{
 // position: fixed;
  //bottom: 0%;
  //right: 2%;
  a{
    text-decoration: none;
    color: #E4D6A7;
    font-size: 10px;
  }
}
